/* @import "./fonts.css"; */

@import "tailwindcss";
@plugin '@tailwindcss/typography';

@import "./theme.css";
/* @import "./markdown.css" layer(components); */
@import "./components.css" layer(components);


@theme inline {

  --color-primary-bg      :var(--bg-primary);
  --color-secondary-bg    :var(--bg-secondary);
  --color-primary-txt     :var(--tx-primary);
  --color-muted-txt       :var(--tx-muted);
  --color-faint-txt       :var(--tx-faint);
  --color-primary-ui      :var(--ui-primary);
  --color-hover-ui        :var(--ui-hover);
  --color-active-ui       :var(--ui-active);
  --color-accent-red      :var(--ac-red);
  --color-accent-orange   :var(--ac-orange);
  --color-accent-yellow   :var(--ac-yellow);
  --color-accent-green    :var(--ac-green);
  --color-accent-cyan     :var(--ac-cyan);
  --color-accent-blue     :var(--ac-blue);
  --color-accent-purple   :var(--ac-purple);
  --color-accent-magenta  :var(--ac-magenta);

  --color-base-primary      : var(--bgPrimary);
  --color-base-muted        : var(--bgMuted);
  --color-base-suble        : var(--bgSubtle);

  --color-content-primary   : var(--txtPrimary);
  --color-content-muted     : var(--txtMuted);
  --color-content-subtle    : var(--txtSubtle);

  --color-ui-primary        : var(--borderPrimary);
  --color-ui-hover          : var(--borderHovered);
  --color-ui-active         : var(--borderActive);

  --color-accent-low        : var(--orange-low);
  --color-accent            : var(--orange);
  --color-accent-high       : var(--orange-high);
    
  --color-orange-low        : var(--orange-low);
  --color-orange            : var(--orange);
  --color-orange-high       : var(--orange-high);
    
  --color-green-low         : var(--green-low);
  --color-green             : var(--green);
  --color-green-high        : var(--green-high);
    
  --color-blue-low          : var(--blue-low);
  --color-blue              : var(--blue);
  --color-blue-high         : var(--blue-high);
    
  --color-purple-low        : var(--purple-low);
  --color-purple            : var(--purple);
  --color-purple-high       : var(--purple-high);
    
  --color-red-low           : var(--red-low);
  --color-red               : var(--red);
  --color-red-high          : var(--red-high);
    
  --color-yellow-low        : var(--yellow-low);
  --color-yellow            : var(--yellow);
  --color-yellow-high       : var(--yellow-high);
    
  --color-cyan-low          : var(--cyan-low);
  --color-cyan              : var(--cyan);
  --color-cyan-high         : var(--cyan-high);
    
  --color-magenta-low       : var(--magenta-low);
  --color-magenta           : var(--magenta);
  --color-magenta-high      : var(--magenta-high);
}


@layer base {

  /* Thanks to https://medium.com/@kevstrosky/theme-colors-with-tailwind-css-v4-0-and-next-themes-dark-light-custom-mode-36dca1e20419 */
  /* Light Mode Colours */
  [data-theme="light"] {
       
    --bgPrimary       : var(--color-paper);
    --bgMuted         : var(--color-base-100);
    --bgSubtle        : var(--color-base-300);

    --txtPrimary     : var(--color-black);
    --txtMuted       : var(--color-base-600);
    --txtSubtle      : var(--color-base-400);

    --borderPrimary   : var(--color-base-150);
    --borderHovered   : var(--color-base-800);
    --borderActive    : var(--color-base-500);

    --orange-low       : var(--color-orange-100);
    --orange           : var(--color-orange-500);
    --orange-high      : var(--color-orange-700);

    --green-low        : var(--color-green-100);
    --green            : var(--color-green-500);
    --green-high       : var(--color-green-700);

    --blue-low         : var(--color-blue-100);
    --blue             : var(--color-blue-500);
    --blue-high        : var(--color-blue-700);

    --purple-low       : var(--color-purple-100);
    --purple           : var(--color-purple-500);
    --purple-high      : var(--color-purple-700);

    --red-low          : var(--color-red-100);
    --red              : var(--color-red-500);
    --red-high         : var(--color-red-700);

    --yellow-low       : var(--color-yellow-100);
    --yellow           : var(--color-yellow-500);
    --yellow-high      : var(--color-yellow-700);

    --cyan-low         : var(--color-cyan-100);
    --cyan             : var(--color-cyan-500);
    --cyan-high        : var(--color-cyan-700);

    --magenta-low      : var(--color-magenta-100);
    --magenta          : var(--color-magenta-500);
    --magenta-high     : var(--color-magenta-700);

  }
  
  /* Dark Mode Colours */
  [data-theme="dark"] {
    
    --bgPrimary       : var(--color-black);
    --bgMuted         : var(--color-base-900);
    --bgSubtle        : var(--color-base-800);

    --txtPrimary      : var(--color-base-200);
    --txtMuted        : var(--color-base-400);
    --txtSubtle       : var(--color-base-600);

    --borderPrimary   : var(--color-base-800);
    --borderHovered   : var(--color-base-200);
    --borderActive    : var(--color-base-700);

    --orange-low       : var(--color-orange-800);
    --orange           : var(--color-orange-300);
    --orange-high      : var(--color-orange-150);

    --green-low        : var(--color-green-800);
    --green            : var(--color-green-300);
    --green-high       : var(--color-green-150);

    --blue-low         : var(--color-blue-800);
    --blue             : var(--color-blue-300);
    --blue-high        : var(--color-blue-150);

    --purple-low       : var(--color-purple-800);
    --purple           : var(--color-purple-300);
    --purple-high      : var(--color-purple-150);

    --red-low          : var(--color-red-800);
    --red              : var(--color-red-300);
    --red-high         : var(--color-red-150);

    --yellow-low       : var(--color-yellow-800);
    --yellow           : var(--color-yellow-300);
    --yellow-high      : var(--color-yellow-150);

    --cyan-low         : var(--color-cyan-800);
    --cyan             : var(--color-cyan-300);
    --cyan-high        : var(--color-cyan-150);

    --magenta-low      : var(--color-magenta-800);
    --magenta          : var(--color-magenta-300);
    --magenta-high     : var(--color-magenta-150);
    
  }

  :root {
		/* default font */
		font-family: var(--font-secondary);
	}

  html {
    @apply bg-base-primary text-content-primary;
		scroll-behavior: smooth;
		-moz-text-size-adjust: none;
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
	}
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 1px var(--color-ui-primary);
    color: transparent;
    opacity: 0.50;
  }

  .text-stroke-2 {
    -webkit-text-stroke: 2px var(--color-ui-primary);
    color: transparent;
    opacity: 0.50;
  }
  
  h1, .h1 {
    @apply text-4xl sm:text-4xl md:text-5xl font-primary;
  }
  h2, .h2 {
    @apply text-3xl md:text-4xl font-primary;
  }
  h3, .h3 {
    @apply text-2xl md:text-3xl font-primary;
  }
  h4, .h4 {
    @apply text-xl md:text-2xl font-primary;
  }
  h5, .h5 {
    @apply text-lg md:text-xl font-primary;
  }
  h6, .h6 {
    @apply text-sm md:text-lg font-primary;
  }
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    @apply font-semibold text-content-primary leading-snug;
  }

	.outer-container {
		@apply mx-auto w-full px-6 py-2 ;
	}

  .inner-container {
		@apply mx-auto w-full py-2;
	}

  /* image & figure style */
  img {
    @apply max-w-full h-auto inline-block mb-5 rounded-lg;
  }
  
  /* gallery style */
  .gallery {
    @apply grid justify-center content-center grid-cols-2 gap-5 md:grid-cols-3;
    * {
      @apply mb-0;
    }
  }
}