---
import Button from "@/components/ui/Button.astro"
import CustomImage from "../ui/CustomImage.astro"
---
<section class="w-full mt-6 sm:mt-12">
  <div class="flex flex-col md:flex-row flex-1 justify-center mx-auto md:align-middle gap-2">
    <!-- Heading & Button -->
    <div class="flex flex-col max-w-2xl justify-center items-center p-6">
      <h2 class="mb-10 text-center text-3xl font-semibold md:text-4xl">
        Spark, Evolve, Conquer: Path to Personal Excellence
      </h2>
      <h3 class="text-center text-xl mb-5 md:text-2xl">
        In this engaging blog, embark on a transformative adventure to uncover the secrets of self-inspiration and empowerment.
      </h3>
      <div>
        <Button href="/" class="ml-4" arrow="forward" style="rounded">
          Subscribe Now
        </Button>
      </div> 
    </div>
    <!-- Hero image -->
    <div>
      <CustomImage
          src="https://picsum.photos/900/600?random=1.webp"
          alt="Being with nature."
          class="w-full h-full rounded-lg object-cover shadow-xl transition"
        />
    </div>  
  </div>
</section>