---
import { Icon } from "astro-icon/components"
---

<button id="theme-toggle" aria-label="Toggle theme" class="p-2 rounded-full hover:cursor-pointer">
  <Icon name="hugeicons:moon-02" id="moon-icon" class="size-6 hidden text-muted-txt hover:text-primary-txt" />
  <Icon name="hugeicons:sun-03" id="sun-icon" class="size-6 text-muted-txt hover:text-primary-txt" />
</button>

<script is:inline>
  const sunIcon = document.getElementById('sun-icon');
  const moonIcon = document.getElementById('moon-icon');
  const themeToggle = document.getElementById('theme-toggle');
  const htmlElement = document.documentElement;

  // On page load, check local storage for theme preference
  const currentTheme = localStorage.getItem('theme');
  if (currentTheme === 'dark') {
    htmlElement.setAttribute('data-theme', 'dark');
    sunIcon.classList.add('hidden');
    moonIcon.classList.remove('hidden');
  } else {
    htmlElement.setAttribute('data-theme', 'light');
    sunIcon.classList.remove('hidden');
    moonIcon.classList.add('hidden');
  }

  // Function to toggle the theme
  function toggleTheme() {
    const currentTheme = htmlElement.getAttribute('data-theme');
    if (currentTheme === 'dark') {
      htmlElement.setAttribute('data-theme', 'light');
      localStorage.setItem('theme', 'light');
      sunIcon.classList.remove('hidden');
      moonIcon.classList.add('hidden');
    } else {
      htmlElement.setAttribute('data-theme', 'dark');
      localStorage.setItem('theme', 'dark');
      sunIcon.classList.add('hidden');
      moonIcon.classList.remove('hidden');
    }
  }

  // Event listener for the theme toggle button
  themeToggle.addEventListener('click', toggleTheme);
</script>