---
import Container from "./Container.astro";
---

<footer class="w-full border-t border-ui-primary ">
  <Container outerClass="flex max-w-4xl px-6 py-2 mx-auto w-full">
    <div class="flex justify-between gap-3 py-8 w-full">
      <div class="flex gap-3 text-content-muted">
        <a href="/">Privacy Policy</a>
        <a href="/">Terms of Service</a>
      </div>
      <div class="flex text-sm text-content-muted">© 2025 Umami. All rights reserved.</div>
    </div>
  </Container>
</footer>