---
import { Icon } from 'astro-icon/components';
import ThemeSwitch from "@/components/widgets/ThemeSwitch.astro";
import Container from '@/components/layout/Container.astro';
import Link from '@/components/ui/Link.astro';
---

<header class="fixed top-0 w-full h-[76px] border-b border-primary-txt/10 z-50 backdrop-blur-lg">

  <!-- Mobile menu -->
  <div id="navMenu" class="fixed bg-primary-bg shadow-sm h-full w-full text-xl sm:w-1/2 sm:text-2xl transform transition-transform duration-300 -translate-x-full z-50">
    <div class="flex flex-col min-h-screen w-full bg-primary-bg">
      <div class="">
        <!-- Logo -->
        <div class="flex items-center justify-between font-medium px-6 py-2 h-[76px] border-b border-primary-txt/10">
          <a class="flex items-center gap-2" href="/">
            <div class="text-lg font-bold">Umami</div>
          </a>
          <div id="closeBtn" class="">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={2} stroke="currentColor" class="size-6">
              <path strokeLinecap="round" strokeLinejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>                  
          </div>
        </div>
        <!-- Links -->
        <div class="flex flex-col text-center gap-3 px-2 py-8">
          <Link href="/articles" class="px-4 py-2 text-primary-txt hover:text-accent-orange" aria-current={Astro.url.pathname === '/articles' ? 'page' : undefined}>Articles</Link>
          <Link href="/tags" class="px-4 py-2 text-primary-txt hover:text-accent-orange" aria-current={Astro.url.pathname === '/tags' ? 'page' : undefined}>Tags</Link>
          <Link href="/about" class="px-4 py-2 text-primary-txt hover:text-accent-orange" aria-current={Astro.url.pathname === '/about' ? 'page' : undefined}>About</Link>
        </div>
        <!-- Subscribe button -->
        <div class="px-4 py-2">
          <button class="text-lg font-medium border border-primary-ui rounded-3xl py-2 px-3 hover:border-umami-ui-2">
            Subscribe
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Main Navigation -->
  <Container outerClass="flex flex-col max-w-4xl h-full">
    <nav class="flex h-full w-full">
      <!-- Logo -->
      <a class="flex items-center gap-2" href="/">
        <div class="text-lg font-bold">Umami</div>
      </a>

      <!-- Centered Links (only visible on sm and up) -->
      <div class="hidden sm:flex flex-1 justify-center items-center gap-4 text-base">
        <Link href="/articles" class="px-4 py-2 text-primary-txt hover:text-accent-orange" aria-current={Astro.url.pathname === '/articles' ? 'page' : undefined}>Articles</Link>
        <Link href="/tags" class="px-4 py-2 text-primary-txt hover:text-accent-orange" aria-current={Astro.url.pathname === '/tags' ? 'page' : undefined}>Tags</Link>
        <Link href="/about" class="px-4 py-2 text-primary-txt hover:text-accent-orange" aria-current={Astro.url.pathname === '/about' ? 'page' : undefined}>About</Link>
      </div>

      <!-- Right section -->
      <div class="flex items-center gap-3 ml-auto">
        <!-- Theme Switcher (always visible) -->
        <ThemeSwitch />

        <!-- Subscribe button (only on sm and up) -->
        <button class="text-base font-medium border-2 border-umami-ui rounded-3xl py-2 px-3 hover:border-umami-ui-2">
          <a href="#"> Subscribe </a>
        </button>

        <!-- Mobile nav button (only on small screens) -->
        <div id="navBtn" class="sm:hidden text-ink hover:cursor-pointer opacity-60 hover:opacity-100">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={2} stroke="currentColor" class="size-6">
            <path strokeLinecap="round" strokeLinejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12" />
          </svg>
        </div>
      </div>
    </nav>
  </Container>
  
  <!-- Script to open mobile menu drawer -->
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const navBtn = document.getElementById("navBtn");
      const navMenu = document.getElementById("navMenu");
      const closeBtn = document.getElementById("closeBtn");

      navBtn.addEventListener("click", function () {
        navMenu.classList.remove("-translate-x-full");
        navMenu.classList.add("translate-x-0");
        document.body.classList.add("overflow-hidden");
      });

      closeBtn.addEventListener("click", function () {
        navMenu.classList.remove("translate-x-0");
        navMenu.classList.add("-translate-x-full");
        document.body.classList.remove("overflow-hidden");
      });
    });
  </script>
</header>