---
import Container from './Container.astro';

interface Props {
  title: string;
  subtitle?: string;
  class?: string;
}

const {
  title,
  subtitle,
  class: className,
} = Astro.props
---

<section class={`flex flex-col gap-2 ${className}`}>
  <h1 class="font-bold text-content-primary">{title}</h1>
  {subtitle && <p class="text-md text-content-muted">{subtitle}</p>}
</section>