---
import PageLayout from "@/layouts/PageLayout.astro";
import Container from "@/components/layout/Container.astro";

---

<PageLayout>
  <Container outerClass="max-w-4xl px-6 py-2 mx-auto h-full my-12">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-y-16 lg:grid-rows-[auto_1fr] lg:gap-y-12">
      <!-- Avatar -->
      <div class="lg:pl-20">
        <div class="p-2 lg:max-w-none max-w-xs">
          <img class="h-full object-cover rounded-lg rotate-3 aspect-square" loading="lazy" src="https://picsum.photos/400/400?random=1.webp" alt="Being with nature.">
        </div>
      </div>
      <!-- About Me -->
      <div class="lg:order-first lg:row-span-2">
        <h1 class="text-4xl font-bold tracking-tight sm:text-5xl">I’m Spencer Sharp. I live in New York City, where I design the future.</h1>
        <div class="mt-6 space-y-6 text-base text-flexoki-tx-2">
          <p>
            I've loved making things for as long as I can remember, and wrote my first program when I was 6 years old, just two weeks after my mom brought home the brand new Macintosh LC 550 that I taught myself to type on.
          </p>
          <p>
            The only thing I loved more than computers as a kid was space. When I was 8, I climbed the 40-foot oak tree at the back of our yard while wearing my older sister's motorcycle helmet, counted down from three, and jumped — hoping the tree was tall enough that with just a bit of momentum I'd be able to get to orbit.
          </p>
          <p>
            I spent the next few summers indoors working on a rocket design, while I recovered from the multiple surgeries it took to fix my badly broken legs. It took nine iterations, but when I was 15 I sent my dad's Blackberry into orbit and was able to transmit a photo back down to our family computer from space.
          </p>
          <p>
            Today, I'm the founder of Planetaria, where we're working on civilian space suits and manned shuttle kits you can assemble at home so that the next generation of kids really can make it to orbit — from the comfort of their own backyards.
          </p>
        </div>
      </div>
      <!-- Social Links -->
      <div class="lg:pl-20">
        <ul class="mt-4">
          <li class="text-base font-medium mt-4">
            <a class="group flex text-sm font-medium transition" href="www.x.com">
              <!-- icon -->
               <span class="ml-4">Follow on X</span>
            </a>
          </li>
          <li class="text-base font-medium mt-4">
            <a class="group flex text-sm font-medium transition" href="www.youtube.com">
              <!-- icon -->
               <span class="ml-4">Follow on Youtube</span>
            </a>
          </li>
          <li class="text-base font-medium mt-4">
            <a class="group flex text-sm font-medium transition" href="www.instagram.com">
              <!-- icon -->
               <span class="ml-4">Follow on Instagram</span>
            </a>
          </li>
          <li class="text-base font-medium mt-4">
            <a class="group flex text-sm font-medium transition" href="www.instagram.com">
              <!-- icon -->
               <span class="ml-4">Follow on Github</span>
            </a>
          </li>
          <li class="mt-8 border-t border-t-muted/10 pt-8 flex">
            <a class="group flex text-sm font-medium transition" href="mailto:spencer@planetaria.tech">
              <span class="ml-4">spencer@planetaria.tech</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </Container>
</PageLayout>