---
import PageLayout from "@/layouts/PageLayout.astro";
import Container from "@/components/layout/Container.astro";
import { Icon } from "astro-icon/components";
import LinkButton from "@/components/ui/LinkButton.astro";
import BackButton from '@/components/widgets/BackButton.astro';
import SocialLinks from "@/components/widgets/SocialLinks.astro";
---

<PageLayout
  title="About Me"
  description="Learn more about Astro Flexoki"
>
  <Container outerClass="max-w-4xl px-6 py-2 mx-auto h-full my-12">
    <BackButton
      title="Home"
      href="/"
    />
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-y-16 lg:grid-rows-[auto_1fr] lg:gap-y-12">
      <!-- Avatar -->
      <div class="lg:pl-20">
        <div class="p-2 lg:max-w-none max-w-xs">
          <img class="h-full object-cover rounded-lg rotate-3 aspect-square shadow-md" loading="lazy" src="https://picsum.photos/400/400?random=1.webp" alt="Being with nature.">
        </div>
      </div>
      <!-- About Me -->
      <div class="lg:order-first lg:row-span-2">
        <h1 class="text-4xl font-bold tracking-tight sm:text-5xl">This is Astro Flexoki</h1>
        <div class="mt-6 space-y-6 text-base text-flexoki-tx-2">
          <p>
            I've loved making things for as long as I can remember, and wrote my first program when I was 6 years old, just two weeks after my mom brought home the brand new Macintosh LC 550 that I taught myself to type on.
          </p>
          <p>
            The only thing I loved more than computers as a kid was space. When I was 8, I climbed the 40-foot oak tree at the back of our yard while wearing my older sister's motorcycle helmet, counted down from three, and jumped — hoping the tree was tall enough that with just a bit of momentum I'd be able to get to orbit.
          </p>
          <p>
            I spent the next few summers indoors working on a rocket design, while I recovered from the multiple surgeries it took to fix my badly broken legs. It took nine iterations, but when I was 15 I sent my dad's Blackberry into orbit and was able to transmit a photo back down to our family computer from space.
          </p>
          <p>
            Today, I'm the founder of Planetaria, where we're working on civilian space suits and manned shuttle kits you can assemble at home so that the next generation of kids really can make it to orbit — from the comfort of their own backyards.
          </p>
        </div>
      </div>
      <!-- Social Links -->
      <div class="lg:pl-20">
        <div class="flex flex-col gap-6">
          <h3 class="text-xl font-bold tracking-tight sm:text-2xl">Connect with me</h3>
          <SocialLinks />
          <div class="mt-4 border-t border-t-ui-primary pt-4 flex">
            <LinkButton href="mailto:abc@example.com" class="group flex text-sm font-medium transition">
              <Icon name="hugeicons:mail-01" class="size-6 hover:scale-120 transition-transform" />
              <span class="ml-4">Email Me</span>
            </LinkButton>
          </div>
        </div>
      </div>
    </div>
  </Container>
</PageLayout>