---
interface Props {
  style?: 'primary' | 'outline';
  size?: 'sm' | 'md';
  accent?: 'default' | 'red' | 'orange' | 'yellow' | 'green' | 'cyan' | 'blue' | 'purple' | 'magenta';
  class?: string;
  [x: string]: any;
}

const {
  style = 'primary',
  size = 'md',
  accent = 'default',
  class: className,
  ...rest
} = Astro.props;

const sizes = {
  md: "px-4 py-2 text-sm",
  sm: "px-3 py-1 text-xs",
};

const accentClasses = {
  red: "border-accent-red/50 hover:bg-accent-red/20",
  orange: "border-accent-orange/50 hover:bg-accent-orange/20",
  yellow: "border-accent-yellow/50 hover:bg-accent-yellow/20",
  green: "border-accent-green/50 hover:bg-accent-green/20",
  cyan: "border-accent-cyan/50 hover:bg-accent-cyan/20",
  blue: "border-accent-blue/50 hover:bg-accent-blue/20",
  purple: "border-accent-purple/50 hover:bg-accent-purple/20",
  magenta: "border-accent-magenta/50 hover:bg-accent-magenta/20",
  default: "border-primary-ui hover:bg-secondary-bg/20",
};

const styles = {
  primary: `bg-secondary-bg/50 hover:bg-secondary-bg border-2 border-primary-ui hover:border-active-ui`,
  outline: `border-2 ${accentClasses[accent]}`,
};
---

<span
  {...rest}
  class:list={[
    "inline-flex items-center rounded-full",
    sizes[size],
    styles[style],
    className,
  ]}
>
  <slot />
</span>
